name: CI
on:
  push:
    branches:
      - main
      - beta
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
      - name: Install Dependencies
        run: npm ci
      - name: Test
        run: npm test
      - name: Build
        run: npm run build
  danger:
    name: Danger
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
      - name: Install Dependencies
        run: npm ci
      - uses: danger/danger-js@13.0.5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
